{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Editing Critter{% endblock %}

{% block navbar_btn %}
<a href="/shop" class="btn btn-info">Shop</a>
{% endblock %}

{% block back_url %}"/"{% endblock %}

{% block content %}
    <div class='w-75 mx-auto my-4'>
        <form action="" method="post" enctype="multipart/form-data">
            {% include 'market/snippet/form.html' %}
        </form>
    </div>

    <script>
        function getFile() {
          document.getElementById("id_critter_img").click();
        }
        function updateFileText() {
            document.getElementById("file_upload_text").innerHTML = document.getElementById("id_critter_img").files[0].name;
        }
    </script>
{% endblock %}
