{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}
    <div class='w-75 mx-auto my-4'>
        <form action="{% url 'createListing' %}" method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form.type|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.species|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.age|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.age_Format|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    {{ form.desc|as_crispy_field }}
                </div>
                <div class="col-4">
                    <div class="">
                        {{ form.price|as_crispy_field }}
                    </div>
                    <div class="row mx-1">
                        <div class="btn btn-info critter_img_btn col-5" onclick="getFile()" onchange="updateFileText()">Add Image</div>
                        <small class="my-auto text-muted col-7" id="file_upload_text">filename.png</small>
                        {% include 'bootstrap4/layout/help_text_and_errors.html' %}
                    </div>
                </div>


                    <input type="submit" class="btn btn-success mx-auto px-3 py-2" value="Submit Critter">

            </div>
            <div class="hidden"><input type="file" name="critter_img" accept="image/*" class="btn btn-secondary" id="id_critter_img" onchange="updateFileText()"/></div>
        </form>
    </div>

    <script>
        function getFile() {
          document.getElementById("id_critter_img").click();
        }
        function updateFileText() {
            document.getElementById("file_upload_text").innerHTML = document.getElementById("id_critter_img").files[0].name;
        }
    </script>
{% endblock %}
