{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="mb-4 w-75 mx-auto">
        <div class="d-flex justify-content-between">
            <h1>{{ this_user.username }}</h1>
            <span class="text-muted my-auto"><strong>Last Online:</strong> {{ this_user.last_login|date:"j M. Y" }}</span>
            <span class="text-muted my-auto"><strong>User Since:</strong> {{ this_user.date_joined|date:"j M. Y" }}</span>
        </div>
        <hr>
        {% if listings %}
            <h1>Listings:</h1>
            {% for critter in listings %}
                <div class="card my-4 mx-auto">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="my-auto">{{ critter.name }}</h5>
                    <a href="{% url 'show_critter' critter.slug %}" class="my-auto btn btn-success" title="View Critter">View this boi</a>
                </div>
                    <div class="card-body border-dark">
                        <img class="small-img float-left" src="{{ critter.critter_img.url }}"/>
                        <div class="d-flex flex-column">
                            <span class="mx-3 mb-2"><strong>Category:</strong> {{ critter.type }}</span>
                            <span class="mx-3 mb-2"><strong>Species:</strong> {{ critter.species }}</span>
                            <span class="mx-3 mb-2"><strong>Age:</strong> {% if critter.age %}{{ critter.age }}{% else %}Unknown{% endif %}</span>
                            <div class="card-text text-dark mx-3"><strong>Description:</strong> {{ critter.desc|truncatewords_html:32 }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated {{ critter.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ critter.created_by.username }}</b></small>
                    </div>
                </div>
            {% endfor %}
        {%  else %}
            {% if this_user == user %}
                <span class="text-muted m-auto">You have no listings! Click the New Listing button at the top of the page to post your first listing!</span>
            {% else %}
                <span class="text-muted m-auto">This user has no listings!</span>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
