{% extends 'base.html' %}

{% block title %}{{ critter.name }}, the {{ critter.species }}{% endblock %}

{% block content %}
<div class="card mb-3 w-75">
    <h5 class="card-header ">{{ critter.name }}, the {{ critter.species }}</h5>
    <div class="card-body border-dark">
        <img src="{{ critter.critter_img.url }}"/>

        <p class="card-text">
            {{ critter.desc }}
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated {{ critter.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ critter.created_by.username }}</b></small>
    </div>
</div>
{% endblock %}