{% extends 'base.html' %}

{% block title %}Creepy Shop{% endblock %}

{% block navbar_btn %}
    <a href="/" class="btn btn-info">Critters</a>
{% endblock %}

{% block back_url %}"/shop"{% endblock %}

{% block content %}
    {% load static %}
    <div class="my-4 mx-auto">
        <h3>Shop for Creepy Critter Accessories!</h3>
            {% if items %}
                <div class="d-flex flex-wrap mb-4">
                {% for item in items %}
                    <div class="card m-3">
                        <div class="card-header">
                            <a href="{% url 'show_item' slug=item.slug %}" class="my-auto btn btn-light" title="{{ item.title }}">{{ item.title }}</a>
                        </div>
                        <div class="card-body border-dark">
                            <div class="col">
                                {% if item.item_img %}
                                    <img class="small-img rounded mb-3" src="{{ item.item_img.url }}"/>
                                {% else %}
                                    <img class="small-img rounded mb-3" src="{% static 'default-icon.jpg' %}"/>
                                {% endif %}
                                <div class="card-text text-dark my-3"><b>Info:</b><br>{{ item.info|truncatewords_html:5 }}</div>
                            </div>
                            <div class="d-flex justify-items-end">
                                <a href="{% url 'show_item' slug=item.slug %}" class="btn btn-light" title="{{ item.title }}">${{ item.price }}</a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted {{ item.created|date:"SHORT_DATETIME_FORMAT" }} by
                                <a href="/profile/{{ item.created_by.username }}" class="no_ul"><b>{{ item.created_by.username }}</b></a></small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">No Items! :'(</div>
        {% endif %}
    </div>
{% endblock %}
