/* make links look pretty */
.no_ul, .no_ul:hover, .no_ul:focus {
    text-decoration: none;
}
/* Form File input */
.hidden {
    height: 0;
    width: 0;
    overflow: hidden;
}
.critter_img_btn:hover {
    cursor: pointer;
}
#id_desc {
    height: 9em;
}
#id_info {
    height: 2.5em;
}

/* Image sizes! */
.small-img {
    max-width: 250px;
    max-height: 250px;
}
.med-img {
    max-width: 400px;
    max-height: 400px;
}

/* base stuff */
.content_wrapper {
    width: 85%;
    margin: 0 auto;
}
.title{
    user-select: none;
}

/* Footer stuff */
html {
  position: relative;
  min-height: 100%;
}
.main_container {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  bottom: 0;
  width: 100%;
}
