<!doctype html><html lang="en"><head>
    <meta charset="utf-8">
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <script src="https://kit.fontawesome.com/e7c15fdb77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head><body>

    <!-- Collapsable Hamburger Navbar -->
    <div class="pos-f-t sticky-top mb-4">
        <nav class="navbar navbar-dark bg-dark">
            <!-- Hamburger Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Heading & Buttons -->
            <h1 class='archive_title no_select text-white'>Creepy Critters</h1>
            {% if user.is_authenticated %}
                <div class="text-white">Hello, <strong>{{ user.username }}</strong>! {% if user.is_superuser %}(admin){% endif %}</div>
                <a href="/addListing" class="btn btn-success ml-4">New Listing</a>
                <a href="/accounts/logout" class="btn btn-danger ml-2">Log Out</a>
            {% else %}
                <div class="text-white">Welcome!</div>
                <a href="/accounts/login" class="btn btn-secondary ml-2">Log In</a>
                <a href="/accounts/signup" class="btn btn-primary ml-2">Sign Up</a>
            {% endif %}
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-2">
                dropdown content!
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>